total 112
dr-xr-xr-x.   2 root root  4096 Jun 19 15:38 bin
dr-xr-xr-x.   5 root root  7168 May 20 18:10 boot
drwxr-xr-x.   2 root root  4096 Dec  3  2013 cgroup
drwxr-xr-x.   3 root root  4096 Apr 16 08:50 data
drwxr-xr-x.  18 root root  3820 Jun 19 13:47 dev
drwxr-xr-x. 116 root root 12288 Jun 26 15:01 etc
drwxr-xr-x.   6 root root  4096 Oct 25  2012 home
dr-xr-xr-x.  12 root root  4096 Jun 16 15:18 lib
dr-xr-xr-x.  11 root root 12288 Jun 16 15:18 lib64
drwx------.   2 root root 16384 Jun 14  2011 lost+found
drwxr-xr-x.   2 root root  4096 Jun 29  2011 media
drwxr-xr-x.   2 root root     0 Jun 17 18:06 misc
drwxr-xr-x.   2 root root  4096 Feb 27  2012 mnt
drwxr-xr-x.   2 root root     0 Jun 17 18:06 net
drwxr-xr-x.   7 root root  4096 May 29 14:47 opt
dr-xr-xr-x. 197 root root     0 Jun 17 18:05 proc
dr-xr-x---.  10 root root  4096 Jun 23 16:41 root
dr-xr-xr-x.   2 root root 12288 Jun 16 15:18 sbin
drwxr-xr-x.   7 root root     0 Jun 17 18:05 selinux
drwxr-xr-x.   2 root root  4096 Jun 29  2011 srv
drwxr-xr-x.  13 root root     0 Jun 17 18:05 sys
drwxrwxrwt.  16 root root  4096 Jun 26 15:01 tmp
drwxr-xr-x.  14 root root  4096 Jun 16 15:22 usr
drwxr-xr-x.  24 root root  4096 Jun 16 15:21 var
